HOST=127.0.0.1
PORT=8081
BASE_PATH=/lobby
MAX_PLAYERS=40
CHAT_HISTORY=50
MAP_URL=https://web.peacefulvanilla.club/maps/
SKIN_URL=https://api.theyasked.co/grveye/skin/
SHOP_URL=https://pvcstorefinder.vercel.app/
